*

!turbo.json
!bun.lock
!package.json

!**/package.json
!**/bun.lock
!**/tsconfig.json
!**/vite.config.ts
!**/react-router.config.ts
!**/build.ts
!**/components.json

!apps/**/src/**
!apps/**/drizzle/**
!apps/**/app/**
!apps/**/public/**

!packages/**/src/**

# License files and attributions
!LICENSE
!NOTICES.md
!LICENSES/**
